{% extends 'wrapper.html'%}

{% block title %}

{% if btn_reg %}
authorization
{% else %}
superuser authentication
{% endif %}

{% endblock %}

{% block style %}
    <style>
        {% if btn_reg %}
            body{
                background-color: LightBlue;
            }
        {% else %}
            body{
                background-color: MidnightBlue;
            }
            label{
                color: white;
            }
        {% endif %}

        @media only screen and (min-device-width : 300px) and (max-device-width : 480px){
            form{
                margin: 50% 25% 70px 25%;
            }
        }
        @media only screen and (min-device-width : 480px) and (max-device-width : 860px){
            form{
                margin: 25% 25% 70px 25%;
            }
        }
        @media only screen and (min-device-width : 860px) and (max-device-width : 1800px){
            form{
                margin: 13% 25% 70px 25%;
            }
        }
        @media only screen and (min-device-width : 1800px){
            form{
                margin: 9% 25% 70px 25%;
            }
        }
		.buttons_in{
			padding: 0% 0% 0% 15%;

		}
		#secondBTN{
			margin-left: 25px;
		}
		#Registration{
			margin-left: 25px;
		}
    </style>
    <!--    <link rel="stylesheet" href="style.css">-->
{% endblock %}

{% block content %}
<form action="/{{ link }}" method="POST">
    <div class="form-group">
        <label for="login">User Name</label>
        <input type="text" class="form-control" id="login" name="login" placeholder="Login">
    </div>
    <div class="container">
       {% if form != "" %}
        {% for err in form.errors.values() %}
            <ins class="col-md-6" style="color: red">{{ err.pop() }}</ins>
        {% endfor %}
       {% endif %}
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="buttons_in">
	    <button type="submit" class="btn btn-outline-success">Log In</button>
    	<button type="reset" class="btn btn-outline-secondary" id="secondBTN">Reset</button>
        {% if btn_reg and not current_user.is_authenticated%}
<!--        <button type="button" class="btn btn-outline-info" id="Registration"><a href="/register">Registration</a></button>-->
        <button type="button" class="btn btn-outline-info" onClick="location.href='/register'" id="Registration">Registration</button>
        {% endif %}
    </div>
</form>
{% endblock %}