{% extends 'wrapper.html'%}

{% block title %}
main
{% endblock %}

{% block style %}
    <style>
        body{
            background-color: lightblue;
        }
        @media only screen and (min-device-width : 300px) and (max-device-width : 450px){
            form{
                margin: 50% 15% 70px 10%;
            }
        }
        @media only screen and (min-device-width : 450px) and (max-device-width : 600px){
            form{
                margin: 25% 15% 70px 10%;
            }
        }
        @media only screen and (min-device-width : 600px) and (max-device-width : 760px){
            form{
                margin: 13% 15% 70px 10%;
            }
        }
        @media only screen and (min-device-width : 760px){
            form{
                margin: 1% 15% 70px 10%;
            }
        }
        .form-control{
            padding: 5px 10px 150px 10px;
            resize: none;
            background-color: #98FB98;
        }
        .button_position{
            float: right;
            margin: 0px 5px 5px 0px;
        }
    </style>
{% endblock %}

{% block content %}
<form action="/main" method="POST">
    <br>
    <div class="button_position">
        <button class="btn btn-primary" type="submit" name="btn_click" value="1">Cipher</button>
        <button class="btn btn-info" type="reset">Reset</button>
        <button class="btn btn-secondary" type="submit" name="btn_clear" value="1">Clear</button>
    </div>
    <div class="form-group">
        <label for="StartText">Enter start text</label>
        <textarea id="StartText" class="form-control" rows="3" name="decipher_text">{{decipher_text}}</textarea>
    </div>
    <hr>
    <div class="button_position">
        <button class="btn btn-primary" type="submit" name="btn_click" value="2">Decipher</button>
        <button class="btn btn-info" type="reset">Reset</button>
        <button class="btn btn-secondary" type="submit" name="btn_clear" value="2">Clear</button>
    </div>
    <div class="form-group">
        <label for="CipherTxt">Enter cipher text</label>
        <textarea id = "CipherTxt" class="form-control" rows="3" name="cipher_text">{{cipher_text}}</textarea>
    </div>
</form>
{% endblock %}