{% extends 'wrapper.html'%}

{% block title %}
data base
{% endblock %}

{% block style %}
    <style>
        .table{
            margin-top: 1%;
            margin-bottom: 5%;
        }
    </style>
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>hash password</th>
        <th>date</th>
    </tr>
    {% for i in user %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.login}}</td>
        <td>{{i.password}}</td>
        <td>{{i.created_on}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}